<div>
  <div>
    <h1>Repository info & refs</h1>
    <div class="container">
      <h2>Repository</h2>
      <hr>
      <p>
        Feel free to clone the repository and use it for your own projects or try the bot out yourself.
        The repository can be found on github at <a href="https://github.com/JordyDevrix/discord-testbot">github.com/JordyDevrix/discord-testbot</a>.
      </p>
    </div>
    <div class="container">
      <h2>Releases</h2>
      <hr>
      <p>
        All the releases can be found on github at the <a href="https://github.com/JordyDevrix/discord-testbot/releases">releases page</a>.
        The release page is updated daily with new releases containing the latest changes.
      </p>
    </div>
  </div>
</div>
