.dc-user-pfp {
  height: 15px;
  width: 15px;
  margin-right: 5px;
  margin-left: 4em;
}

.dc-bot-pfp {
  height: 3em;
  margin-right: 1em;
  cursor: pointer;
}

.dc-username,
.dc-cmd-used,
.dc-cmd-name,
.dc-botname,
.dc-botapp,
.dc-msg-time,
.dc-bot-reply,
.dc-msg-top > h3 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0;
  margin: 0 0 0 2px;
}

.dc-msg-time {
  font-size: 12px;
  color: #DDDDDD;
  margin-left: 5px;
}

.dc-botapp {
  padding: 2px;
  border-radius: 3px;
  background-color: #506AFD;
  vertical-align: 5px;
  font-size: 10px;
  color: #FFFFFF;
}

.dc-bot-reply {
  color: #FFFFFF;
}

.dc-msg-user {
  display: inline;
}

.dc-username:hover {
  text-decoration: underline;
}

.dc-cmd-used {
  color: #DDDDDD;
}

.dc-botname {
  color: #FFCE00;
  cursor: pointer;
}

.dc-botname:hover {
  text-decoration: underline;
}

.dc-cmd-name {
  border-radius: 3px;
  padding: 3px;
  font-weight: bold;
  background-color: #3F4A7D;
  color: #20A0DD;
  cursor: default;
}

.dc-cmd-name:hover {
  background-color: #506AFD;
  color: #FFFFFF;
}

.dc-username,
.dc-cmd-used,
.dc-cmd-name {
  font-size: 14px;
  vertical-align: top;
}

.dc-username {
  cursor: pointer;
  font-weight: bold;
  color: #98586F;
}

.dc-msg-jumbot {
  display: flex;
  //align-items: center;
  //height: 3em;
}

.dc-msg-content {
  padding: 0;
  margin: 0;
  //height: 3em;
}

.dc-msg-container {
  align-items: center;
  padding: 7px 1em 7px 1em;
  margin: 0.5em 0 0.5em 0;
}

.dc-msg-container:hover {
  background-color: #2E3035;
}

