<div class="dc-msg-container">
  @if (message?.isReply) {
    <div class="dc-msg-user">
      <img class="dc-user-pfp"
           src="{{ message?.replyPfpUrl }}"
           alt="jumbot" style="border-radius: 1000px">
      <span class="dc-username">{{ message?.replyName }}</span>
      <span class="dc-cmd-used"> used </span>
      <span class="dc-cmd-name">{{ message?.command }}</span>
    </div>
  }
  <div class="dc-msg-jumbot">
    <img class="dc-bot-pfp"
         src="{{ message?.userPfpUrl }}"
         alt="jumbot" style="border-radius: 1000px">
    <div class="dc-msg-content">
      <div class="dc-msg-top">
        <h3>
          <span class="dc-botname" [ngStyle]="{'color': message?.userNameColor}">{{ message?.userName }} </span>
          @if (message?.isBot) {
            <span class="dc-botapp">APP </span>
          }
          <span class="dc-msg-time">{{ message?.time }}</span>
        </h3>
      </div>
      <div class="dc-msg-bottom">
        <p class="dc-bot-reply" [innerHTML]="message?.message"></p>
      </div>
    </div>
  </div>
</div>
