<div class="main-box">
  <div class="contain">
    <div class="foryourinfo">
      <h1>Information</h1>
      <h3>
        Make sure to read the information on this page before adding Jumbot to your server.
      </h3>
    </div>
    <div class="info-left">
      <h2>Disclaimer: part 1</h2>
      <p>
        Jumbot is a Discord bot that is still in development. This means that there may be bugs or issues that have not
        been resolved yet. I'm working hard to make sure that the bot is as stable as possible and that new features are
        added regularly.
      </p>
      <hr>
      <p>
        I'm not responsible for any issues that may arise from using Jumbot.
      </p>
    </div>
    <div class="info-left">
      <h2>Disclaimer: part 2</h2>
      <p>Jumbot is a initiative that has not been/is not being created, maintained or supported by <a
        href="https://nl.wikipedia.org/wiki/Jumbo_Supermarkten">Koninklijke Jumbo Food Groep</a> or any of its
        affiliates. This is a fan project and is not meant to be used for any commercial purposes. If you have any
        questions or concerns, please contact me at <a href="mailto:info@dvrx.one"> info&#64;dvrx.one</a>
      </p>
      <hr>
      <p>
        The information provided by Jumbot ("we," "us," or "our") on jumbot.dvrx.one (the "Site") is for general
        informational purposes only. All information on the Site is provided in good faith, however we make no
        representation or warranty of any kind, express or implied,
        regarding the accuracy, adequacy, validity, reliability, availability, or completeness of any information on the
        Site. UNDER NO CIRCUMSTANCE SHALL WE HAVE ANY LIABILITY TO YOU FOR ANY LOSS OR DAMAGE
        OF ANY KIND INCURRED AS A RESULT OF THE USE OF THE SITE OR RELIANCE ON ANY INFORMATION
        PROVIDED ON THE SITE. YOUR USE OF THE SITE AND YOUR
        RELIANCE ON ANY INFORMATION ON THE SITE IS SOLELY AT YOUR OWN RISK.
      </p>
    </div>
  </div>
  <div class=" centerline">
    <div></div>
  </div>
  <div class="contain">
    <div class="info-right">
      <h2>I want Jumbot</h2>
      <p>
        If you want to add Jumbot to your server, you can do so by clicking the button below. You will be redirected to
        the
        Discord website where you can select the server you want to add Jumbot to. You will need to have the necessary
        permissions to add a bot to a server.
      </p>
      <a
        href="https://discord.com/oauth2/authorize?client_id=1214671466780565575&permissions=8&scope=applications.commands%20bot"
        class="add-button">Add Jumbot</a>
    </div>
    <div class="info-right">
      <h2>What is Jumbot?</h2>
      <p>Jumbot is a Discord bot with a Jumbo theme that can help you with your daily tasks. It is designed to be easy
        to use
        and to be as user-friendly as possible. The bot is still in development and new features are added regularly.
      </p>
    </div>
    <div class="info-right">
      <h2>How do I use Jumbot?</h2>
      <p>
        You can use Jumbot like any other Discord bot by using the slash commands. You can find all available
        commands by starting with <code>/</code> in the chat. (Note: Not all commands are available in DM, some commands require a server to be used in.)
      </p>
    </div>
  </div>
</div>
