<nav>
  <div class="navbar">
    <div class="nav">
      <div>
        <a href="https://jumbot.nl">
          <img
            src="https://imgur.com/MtKKTpW.png"
            alt="Jumbo"
          >
        </a>
      </div>
      <div class="navbar-list">
        <ul class="ulnav">
          <li><a [routerLinkActive]="['active']" [routerLink]="['']">Home <i class="fa-solid fa-house"></i></a></li>
          <li><a [routerLinkActive]="['active']" [routerLink]="['info']">Info <i class="fa-solid fa-circle-info"></i></a></li>
          <li class="hide-third">
            <a
              href="https://discord.com/oauth2/authorize?client_id=1214671466780565575&permissions=8&scope=applications.commands%20bot">
              Add to server
              <i class="fa-brands fa-discord"></i>
            </a>
          </li>
          <li class="hide-first"><a [ngStyle]="{'color': urlClickedStyle}"  (click)="copyUrl()">{{ urlText }} <i class="fa-solid fa-share"></i></a></li>
          <li class="hide-second">
            <a href="https://buymeacoffee.com/jordydevrix">
              Buy me a coffee
              <i class="fa-solid fa-mug-hot"></i>
            </a>
          </li>
        </ul>
      </div>
      <div>
        <button (click)="openMenu()">
          <i class="fa-solid fa-compass menu-button"></i>
        </button>
      </div>
    </div>
    <div class="submenu" [ngStyle]="{'display': menuStyle}">
      <div class="submenucontent">
        <div>
          <ul>
            <li><a (click)="closeMenu()" [routerLinkActive]="['active']" [routerLink]="['']">Home <i class="fa-solid fa-house"></i></a></li>
            <li>
              <a
                (click)="closeMenu()"
                href="https://discord.com/oauth2/authorize?client_id=1214671466780565575&permissions=8&scope=applications.commands%20bot">
                Add to server
                <i class="fa-brands fa-discord"></i>
              </a>
            </li>
            <li><a [ngStyle]="{'color': menuUrlClickedStyle}"  (click)="menuCopyUrl()">{{ menuUrlText }} <i class="fa-solid fa-share"></i></a></li>
            <li>
              <a (click)="closeMenu()" href="https://buymeacoffee.com/jordydevrix">
                Support me!
                <i class="fa-solid fa-mug-hot"></i>
              </a>
            </li>
          </ul>
        </div>
        <div>
          <div class="vr"></div>
        </div>
        <div>
          <ul>
<!--            <li><a (click)="closeMenu()" [routerLinkActive]="['active']" [routerLink]="['account']">Account <i class="fa-solid fa-user"></i></a></li>-->
            <li><a (click)="closeMenu()" href="">Help <i class="fa-solid fa-parachute-box"></i></a></li>
            <li><a (click)="closeMenu()" [routerLinkActive]="['active']" [routerLink]="['info']">Info <i class="fa-solid fa-circle-info"></i></a></li>
          </ul>
        </div>
        <div>
          <div class="vr"></div>
        </div>
        <div>
          <ul>
            <li><a (click)="closeMenu()" [routerLinkActive]="['active']" [routerLink]="['repository']">Repository <i class="fa-solid fa-code"></i></a></li>
            <li><a (click)="closeMenu()" [routerLinkActive]="['active']" [routerLink]="['commands']">Command list <i class="fa-solid fa-table-list"></i></a></li>
          </ul>
        </div>
        <div>
          <div class="vr"></div>
        </div>
        <div>
          <ul>
            <li><a (click)="closeMenu()" [routerLinkActive]="['active']" [routerLink]="['servers']">Join jumbo discord <i class="fa-brands fa-discord"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>

