<h1 style="color: #DDAE00; text-align: center">Here are some example commands!</h1>
<h2>Curious about what's currently playing on Jumbo Radio?</h2>
<app-discordcmd [MessageList]="Msg1"></app-discordcmd>
<h2>Want to play Jumbo Radio in one of your server's voicechannels?</h2>
<app-discordcmd [MessageList]="Msg2"></app-discordcmd>
<h2>Use this to find out what people deleted</h2>
<app-discordcmd [MessageList]="Msg3"></app-discordcmd>
<h2>Use our JumbotAI functionality!</h2>
<app-discordcmd [MessageList]="Msg4"></app-discordcmd>
