<div class="dc-msg-container">
  <div class="dc-msg-user">
    <img class="dc-user-pfp"
         src="https://cdn.discordapp.com/avatars/495328668105703426/d9194152101c8d56aa1a88e952d2a8ed.webp?size=100"
         alt="jumbot" style="border-radius: 1000px">
    <span class="dc-username">{{ dcUserName }}</span>
    <span class="dc-cmd-used"> used </span>
    <span class="dc-cmd-name">jumboradio</span>
  </div>
  <div class="dc-msg-jumbot">
    <img class="dc-bot-pfp"
         src="https://cdn.discordapp.com/avatars/1214671466780565575/8e40d9e6af5e2d5333c7dc9e65d993a0.webp?size=100"
         alt="jumbot" style="border-radius: 1000px">
    <div class="dc-msg-content">
      <div class="dc-msg-top">
        <h3>
          <span class="dc-botname">JUMBOT </span>
          <span class="dc-botapp">APP </span>
          <span class="dc-msg-time">{{ dcTime }}</span>
        </h3>
      </div>
      <div class="dc-msg-bottom">
        <p class="dc-bot-reply">Muziek op jumbo radio: <strong>{{ dcMessage }}</strong></p>
      </div>
    </div>
  </div>
</div>
